* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-width: 0;
}

body {
	height: 100vh;
	height: 100svh;
	display: flex;
	flex-direction: column;
}

#root {
	flex-grow: 1;
	display: flex;

	> div {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}

#root > input, #root > button {
	flex: none;
	width: fit-content;
}

a, a:visited {
	color: black;
	text-decoration: none;
}